@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --primary-color: #FF0147;
    --second-color: #212429;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
ul{
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    background-image: url("assets/bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    z-index: 9;
}
.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}
.nav_logo img{
    display: flex;
    max-width: 36px;
}
.nav_logo span{
    display: none;
}
.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav_links{
    position: absolute;
    top: 65;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: .5s;
    z-index: -1;
    transform: translateY(-100%);   
}
.nav_links.open{
    transform: translateY(0);
}
.nav_links a{
    font-size: 1.2rem;
    color: var(--white);
}
.nav_links a:hover{
    color: var(--second-color);
}
.header_container{
    max-width: var(--max-width);
    margin-inline: auto;
    padding-block: 5rem 2rem;
    padding-inline: 1rem;
    display: grid;
    gap:2rem;
}
.header_image img{
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    display: flex;
}
.header_content{
    overflow: hidden;
    text-align: center;
}
.header_content h2{
    position: relative;
    isolation: isolate;
    max-width: fit-content;
    margin-left: auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500 ;
    color: var(--primary-color);
    text-align: right;
}
.header_content h2::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 1rem), 50%);
    height: 2px;
    width: 150%;
    background-color: var(--white);
}
.header_content h1{
    font-size: 5rem;
    font-weight: 600;
    color: var(--white);
    line-height: 5rem;
}
.h1_span-1{
    font-size: 4rem;
    color: var(--primary-color);
}
.h1_span-2{
    font-size: 2rem;
    font-weight: 400;
}
.header_content p{
    margin-bottom: 2rem;
    color: var(--text-light);
}
.header_content .btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    transition: .3s;
    cursor: pointer; 
}
.header_content .btn:hover{
    color: var(--primary-color);
    background-color: var(--white);
}
.socials{
    padding-block: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.socials a{
    font-size: 1.5rem;
    color: var(--text-light);
}
.socials a:hover{
    color: var(--primary-color);
}
.header_bar{
    font-size: .9rem;
    color: var(--text-light);
}
@media (width > 768px) {
    nav{
        position: relative;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .nav_header{
        padding: 0;
        background-color: transparent;
    }
    .nav_logo span{
        display: flex;
    }
    .nav_menu_btn{
        display: none;
    }
    .nav_links{
        position:static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
        background-color: transparent;
        transform: none;
    }
    .nav_links a:hover{
        color: var(--primary-color);
    }
    .header_container{
         grid-template-columns: repeat(2,1fr);
         align-items: center;
    }
    .header_image{
        grid-area:  1/2/2/3;
    }
    .header_content{
        text-align: left;
    }
    .socials{
        justify-content: flex-start;
    }
}